.dockerignore

__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.venv
.env
*.log
.DS_Store
.git
.gitignore
*.md
.pytest_cache
.coverage
htmlcov
.mypy_cache
.pytest_cache
.conda
.ipynb_checkpoints
.env
